<div class="container">
    <div class=row>
 
    <div class=" col-7">
        <div class="card">
            <div class="card-body">
                <h1>title</h1>
                <p class="m-0">
                <ul class="list-group list-group-flush mb-4">
                    <li class="list-group-item pl-0 pr-0 pt-2 pb-2">price: </li>
                    <li class="list-group-item pl-0 pr-0 pt-2 pb-2">cat:</li>
                    <li class="list-group-item pl-0 pr-0 pt-2 pb-2">amount</li>
                    <li class="list-group-item pl-0 pr-0 pt-2 pb-2">Availability: In Stock</li>
                    <li class="list-group-item pl-0 pr-0 pt-2 pb-2">Price : 400</li>
                    <li class="list-group-item pl-0 pr-0"><p>  descrition :  It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                    </p> </li>              
                </ul>         
            </div>
        </div>
    </div>
    <div class=" col-5">
        <div class="row">
            <div class="col-md-12 mb-4">
                <img alt="" class="img-fluid p-0 border-0" src="https://elabd.blob.core.windows.net/elabdcontainer/b2d1db3a-2516-4d1b-a8b0-815d403c35a4-637720497940318461.jpg" />
            </div>
         
        </div>
    </div>
   </div>
</div>
