<div id='gfg'>
 
    <div class="container addProd pt-4">
        <form>

            <div class="row mb-4">
                <div class="col-md-6 ">
                    <div class="form-group">
                     
                        <input type="text" class="form-control" placeholder="Enter FirstName" id="first">
                    </div>
                </div>
               

                <div class="col-md-6 ">
                    <div class="form-group">
                      
                        <input type="text" class="form-control" placeholder="Enter LastName " id="last">
                    </div>
                </div>
                <!--  col-md-6   -->
            </div>
            <div class="row mb-4">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <!-- <label for="company">Price</label> -->
                        <input type="email" class="form-control" placeholder="Enter Email" id="company">
                    </div>


                </div>

                <div class="col-md-6">

                    <div class="form-group">
                        <!-- <label for="phone">Amount</label> -->
                        <input type="text" class="form-control" id="phone" placeholder="Enter Mobile Number">
                    </div>
                </div>
                <!--  col-md-6   -->
            </div>
            <!--  row   -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- <label for="company">Arabic Category</label> -->
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="exampleRadios1"
                                value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                maile
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="exampleRadios2"
                                value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Femail
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                      
                     <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" id="exampleRadios1" value="option1"
                                checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Admin
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" id="exampleRadios2"
                                value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                User
                            </label>
                        </div>
                    </div>
                </div>
              
            </div>

            <div class="row mb-4">
                <div class="col-md-6">

                    <div class="form-group">
                       
                        <input class="form-control " id="textAreaExample2" placeholder="Enter Password">
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                       
                        <input class="form-control " id="textAreaExample2" placeholder="Confirme Password">
                    </div>
                </div>

            </div>
            <div class="row mb-4">

                <div class="col-md-6">
                </div>

            </div>

            <div class="d-flex align-items-end justify-content-end">
                <button type="submit" class="btn  addprodbtn m-3 btn-lg">Add Product</button>
            </div>

        </form>
    </div>


    <!-- </tabset> -->
</div>