
    <div class="card shadow border-0 mb-7 mt-5">
        <div class="card-header">
            <h5 class="mb-0 text-end">أعلي عدد دخول للمكتبة</h5>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="thead-light text-center">
                    <tr class="tablText">
                        <th scope="col">عدد مرات الدخول</th>
                        <th scope="col">تاريخ اخر دخول</th>
                        <th scope="col">الوظيفة</th>
                        <th scope="col">الاسم</th>
                        <th scope="col">مسلسل</th>
                    </tr>
                </thead>
                <tbody class=" text-center">



                    <tr>
                        <td>
                            36
                        </td>
                        <td>
                            Feb 15, 2021
                        </td>

                        <td>
                            قاضى
                        </td>
                        <td>
                            <a class="text-decoration-none text-primary ">
                                احمد مصطفي محمد
                            </a>
                        </td>
                        <td>
                            1
                        </td>
                    </tr>



                    <tr>
                        <td>
                            29
                        </td>
                        <td>
                            Feb 15, 2021
                        </td>

                        <td>
                            قاضى
                        </td>
                        <td>
                            <a class="text-decoration-none text-primary ">
                                  رشدس احمد علي
                            </a>
                        </td>
                        <td>
                            2
                        </td>
                    </tr>




                    <tr>
                        <td>
                            22
                        </td>
                        <td>
                            Feb 13, 2021
                        </td>

                        <td>
                            قاضى
                        </td>
                        <td>
                            <a class="text-decoration-none text-primary ">
                                السعيد مصطفي السعيد
                            </a>
                        </td>
                        <td>
                            3
                        </td>
                    </tr>




                    <tr>
                        <td>
                            18
                        </td>
                        <td>
                            Feb 10, 2021
                        </td>

                        <td>
                            قاضى
                        </td>
                        <td>
                            <a class="text-decoration-none text-primary ">
                                  علاء احمد علي
                            </a>
                        </td>
                        <td>
                            4
                        </td>
                    </tr>



                    <tr>
                        <td>
                            15
                        </td>
                        <td>
                            Feb 14, 2021
                        </td>

                        <td>
                            قاضى
                        </td>
                        <td>
                            <a class="text-decoration-none text-primary ">
                                حسام محمد السعيد
                            </a>
                        </td>
                        <td>
                            5
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="card-footer border-0 py-2 text-end">
            <span class="text-muted text-sm">بيانات خاصة بمستخدمين النظام</span>
        </div>
    </div>

