<div class="row p-lg-3  ">
  <div class="col-md-12 ">
    <div class="table-wrap ">
      <table class="table productsTable m-auto  table-hover">
        <thead class="thead-primary">
          <tr class="fs-sm-6">
            <th scope="col">#</th>
            <th scope="col"> Title</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
            <th scope="col">Edit</th>
            <th scope="col " class="">Details</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let product of products" class="alert" role="alert">
            <th scope="row">1</th>
            <td> {{product.EnName}} </td>
            <td>{{product.Price}}</td>
            <td class="quantity">{{product.Amount}} </td>
            <td>
              <button data-toggle="modal" data-target="#form" class="btn btn-outline-success ps-sm-1  pe-sm-1 ps-lg-3 pe-lg-3 pe-md-2 ps-md-2"><i
                  class="bi bi-pen"></i></button>
            </td>
            <td class="d-none d-md-flex"><button
                class="btn btn-outline-primary ps-sm-1  pe-sm-1 ps-lg-3 pe-lg-3 pe-md-2 ps-md-2  ">
                <i class="bi bi-info-circle"></i>
              </button></td>
            <td><button class="btn btn-outline-danger  ps-sm-1  pe-sm-1 ps-lg-3 pe-lg-3 pe-md-2 ps-md-2">
              <i class="bi bi-trash3"></i></button></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- ///////modal update product -->


<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="title">Product Title</label>
            <input type="email" class="form-control" id="title"  value="">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" value="">
          </div>
          <div class="form-group">
            <label for="Price">Price </label>
            <input type="number" class="form-control" id="price" value="">
          </div>
          <div class="form-group">
            <label for="Amount">Amount </label>
            <input type="number" class="form-control" id="Amount" value="">
          </div>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-center">
          <button type="submit" class="btn btn-outline-success">update</button>
        </div>
      </form>
    </div>
  </div>
</div>